.pan
{
  background-color: white;
  padding-top:25px;
  padding-bottom:45px;
  text-align: center;
  font-family: roboto;
  font-size: 19px;
  text-overflow: ellipsis;
  /*word-wrap: break-word;*/
  /*overflow: hidden;*/
  max-height: 4.0em;
  line-height: 1.0em;
  border-style: solid;
  border-bottom-style: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #cccccc;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  box-shadow: 3px 3px 1px #cccccc;
}
.row1{
	padding-left:45px;
	padding-right:45px;
}
.row2{
	padding-left:45px;
	padding-right:45px;
}
.row3{
	padding-left:25px;
	padding-right:20px;
}
.panel
{
  border-style: none;
}
.pan a
{
  color: #EA1676;
  text-decoration-line: underline;
}
#or
{
  margin-left: 49%;
  margin-right: 48%;
  margin-top: -90px;
  background-color: pink;
  padding: 7px;
  border-radius: 200px;
  z-index: 1;
  position: relative;
  font-weight: bold;
  font-family: roboto;
  font-size: 12px;
  display: table;
}
.contain
{
  z-index: -1;
  position: relative;
  margin-top: -15px;
}
.pan1 {
  margin:0;
  font-size: 11px;
}
#or1
{
  margin-left: 48%;
  margin-right: 48%;
  margin-top: -20px;
  background-color: pink;
  padding: 7px;
  border-radius: 200px;
  z-index: 1;
  position: relative;
  font-weight: bold;
  font-family: roboto;
  font-size: 12px;
  display: table;
  margin-bottom: 10px;
}
.pan2
{
  background-color: white;
  padding-bottom:61px;
  text-align: center;
  font-family: roboto;
  font-size: 19px;
  text-overflow: ellipsis;
  /*word-wrap: break-word;*/
  /*overflow: hidden;*/
  max-height: 4.0em;
  line-height: 1.0em;
  border-style: solid;
  border-bottom-style: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-right-width: 2px;
  border-right-color: #cccccc;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
}
.pan1 a
{
  color: #EA1676;
  text-decoration-line: underline;
}

/*footer*/

#ft1
{
  text-align: center;
}

.social
{
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
}

.footer #ft2
{
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}

.footer #ft3
{
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}

.footer a
{
  margin: 10px;
  color: black;
  text-decoration: none;
}

.footer 
{
  background: #ffe6ff;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
}

.footer a 
{
  color: black
  text-decoration-line: none;
}


.footer-bottom 
{
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-bottom p.pull-left 
{
  padding-top: 6px;
}

#ftl
{
  margin-top: 10px;
  font-size: 14px;
  font-family: roboto;
  padding: 2px;
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
}

.btn1
{
  cursor: pointer;
}


 .carousel-control.right, .carousel-control.left {
     background-image: none;
     color: #EA1676;
  }
  .carousel-indicators li {
      border-color: #EA1676;
  }
  .carousel-indicators li.active {
      background-color: #EA1676;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
      margin-top: 50px;
  }
  .item span {
      font-style: normal;
  }